:host {
  display: inline-block;
}

.handle {
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  margin-bottom: var(--calcite-app-cap-spacing-minimum);
  padding: var(--calcite-app-cap-spacing-three-quarters) var(--calcite-app-side-spacing-half);
  background-color: var(--calcite-app-background);
  border: none;
  color: var(--calcite-app-foreground-subtle);
  line-height: 0;
  cursor: move;
  @include focusRingInset();
  &:focus {
    outline-offset: var(--calcite-app-outline-inset);
  }
  &--activated {
    background-color: var(--calcite-app-background-active);
    color: var(--calcite-app-foreground-active);
  }
}
