:host {
  display: flex;
  flex-direction: column;
  padding: 6px 4px;
  margin: 0;
}

:host([justify-bottom]) {
  flex-grow: 1;
  justify-content: flex-end;
}

:host ::slotted(calcite-action) {
  display: flex;
}
