:host {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: var(--calcite-app-cap-spacing-quarter) 0;
}

::slotted(calcite-action) {
  display: flex;
  width: 100%;
  margin-top: var(--calcite-app-cap-spacing-quarter);
  margin-bottom: var(--calcite-app-cap-spacing-quarter);
}
