@import "../../assets/styles/component";

:host {
  @extend %component-host;
  display: flex;
  flex-direction: column;
  padding: 0;
  padding: var(--calcite-app-cap-spacing-half) 0;
}

:host(:first-child) {
  padding-top: 0;
}

::slotted(calcite-action) {
  display: flex;
  width: 100%;
}
