$tip-content-only-width: 100% !default;
$tip-content-width: 70% !default;
$tip-image-frame-width: 25% !default;
$tip-image-max-width: 100% !default;
$tip-max-width: 540px;
$tip-width: 65%;

:host {
  position: relative;
  display: flex;
  flex-flow: column;
  color: var(--calcite-app-foreground);
  background-color: var(--calcite-app-background);
  padding: var(--calcite-app-cap-spacing-half) var(--calcite-app-side-spacing) var(--calcite-app-cap-spacing);
  margin: var(--calcite-app-cap-spacing) var(--calcite-app-side-spacing);
  box-shadow: var(--calcite-app-shadow-2);
  border-radius: var(--calcite-app-border-radius);
}

:host([hidden]),
:host([dismissed]) {
  display: none;
}

:host([selected]) {
  box-shadow: none;
  max-width: $tip-max-width;
  width: $tip-width;
  margin: 0;
  padding: 0;
}

.header .heading {
  padding-left: 0;
  padding-right: 0;
}

.content {
  display: flex;
  padding-top: var(--calcite-app-cap-spacing-half);
}

.info {
  padding: 0 var(--calcite-app-side-spacing);
  width: $tip-content-width;
  &:only-child {
    width: $tip-content-only-width;
    padding-left: 0;
    padding-right: 0;
  }
}

.info ::slotted(p) {
  margin-top: 0;
}

slot[name="link"]::slotted(a) {
  color: var(--calcite-app-foreground);
}

.image-frame {
  width: $tip-image-frame-width;
  img {
    max-width: $tip-image-max-width;
  }
}
