$gutter-size: 24px 12px;

:host {
  position: relative;
  display: block;
  padding: $gutter-size;
  background-color: #fff;
  color: #6e6e6e;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
:host([hidden]) {
  display: none;
}

:host header {
  margin: 0;
  padding: --calcite-app-cap-spacing --calcite-app-side-spacing;
  display: flex;
  align-items: center;
}

:host ::slotted(h2) {
  font-size: var(--font-size-1);
  font-weight: var(--font-weight);
  padding: 0;
  margin: 0;
}

$tip-close-size: 16px;
.close {
  // position: absolute;
  // top: 0px;
  // right: 0px;
  width: $tip-close-size;
  height: $tip-close-size;
  // margin: $gutter-size;
  // font-size: 24px;
  cursor: pointer;
  :host-context([dir="rtl"]) & {
    right: auto;
    left: 0;
  }
}
.content {
  display: flex;
  align-items: flex-start;
  & > :last-child {
    margin-left: 12px;
    margin-right: auto;
    :host-context([dir="rtl"]) & {
      margin-right: 12px;
      margin-left: auto;
    }
  }
}
