$gutter-size: 24px 12px;

:host {
  position: relative;
  display: flex;
  flex-flow: column;
  color: var(--calcite-app-foreground);
  background-color: var(--calcite-app-background);
}
:host([hidden]) {
  display: none;
}

:host header {
  margin: 0;
  padding: var(--calcite-app-cap-spacing) var(--calcite-app-side-spacing);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:host .title {
  font-size: var(--font-size-1);
  font-weight: var(--font-weight);
  padding: 0;
  margin: 0;
}

:host .info {
  padding: 0 var(--calcite-app-side-spacing) var(--calcite-app-cap-spacing);
}

:host .info ::slotted(p) {
  margin-top: 0;
}

:host .close {
  width: var(--calcite-app-icon-size);
  height: var(--calcite-app-icon-size);
  cursor: pointer;
}

:host .image-frame {
  width: 25%;
  padding: 0 0 0 var(--calcite-app-side-spacing);
  img {
    width: 100%;
  }
}
