$animation-time: 250ms;
$animation-time--fast: round($animation-time / 2);
$animation-time--slow: round($animation-time * 2);

:host {
  display: flex;
}
.calcite-flow-control__frame {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column;
  position: relative;
}
.calcite-flow-control__frame--advancing {
  animation: calcite-flow-control-panel-advance $animation-time ease-in-out;
}

.calcite-flow-control__frame--retreating {
  animation: calcite-flow-control-panel-retreat $animation-time ease-in-out;
}

@keyframes calcite-flow-control-panel-advance {
  0% {
    opacity: 0;
    transform: translate3d(50px, 0, 0) scale(0.99);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
  }
}

@keyframes calcite-flow-control-panel-retreat {
  0% {
    opacity: 0;
    transform: translate3d(-50px, 0, 0) scale(0.99);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
  }
}
