:host {
  align-items: center;
  background-color: var(--calcite-app-background);
  color: var(--calcite-app-foreground);
  cursor: pointer;
  display: flex;
  margin-bottom: var(--calcite-app-cap-spacing-minimum);
  padding: var(--calcite-app-cap-spacing) var(--calcite-app-side-spacing-half);
  transition: background-color var(--calcite-app-animation-time-fast) var(--calcite-app-easing-function);
}

:host(:hover) {
  background-color: var(--calcite-app-background-hover);
}

:host([disabled]) {
  opacity: var(--calcite-app-disabled-opacity);
  cursor: default;
  box-shadow: none;
  &:host(:hover) {
    background-color: var(--calcite-app-background);
  }
}

:host(.highlight) {
  border-left: 3px solid transparent;
  &:host([rtl]) {
    border-left: none;
    border-right: 3px solid transparent;
  }
}

.highlight[selected] {
  border-left-color: blue;
  &:host([rtl]) {
    border-left-color: none;
    border-right-color: blue;
  }
}

.icon {
  color: var(--calcite-app-foreground-link);
  flex: 0 0 0%;
  line-height: 0;
  width: var(--calcite-app-icon-size);
  margin: 0 var(--calcite-app-side-spacing-half);
}

.label {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 0 0%;
  overflow: hidden;
  padding: 0 var(--calcite-app-side-spacing-half);
  pointer-events: none;
}

.title {
  @include lineClamp();
}

.description {
  color: var(--calcite-app-foreground-subtle);
  font-family: var(--calcite-app-font-family-monospace);
  font-size: var(--calcite-app-font-size--1);
  margin-top: var(--calcite-app-cap-spacing-quarter);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.action {
  flex: 0 0 0%;
  justify-self: flex-end;
}

.handle {
  cursor: move;
}
