:host {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  margin: 0 var(--calcite-app-side-spacing-half) var(--calcite-app-cap-spacing-minimum);
  padding-right: var(--calcite-app-side-spacing-half);
  background-color: var(--calcite-app-background);
  color: var(--calcite-app-foreground);
  transition: background-color var(--calcite-app-animation-time-fast) var(--calcite-app-easing-function);
}

:host(:hover) {
  background-color: var(--calcite-app-background-hover);
}

:host([disabled]) {
  opacity: var(--calcite-app-disabled-opacity);
  cursor: default;
  box-shadow: none;
  &:host(:hover) {
    background-color: var(--calcite-app-background);
  }
}

:host(:first-child) {
  border-radius: var(--calcite-app-border-radius) var(--calcite-app-border-radius) 0 0;
}

:host(:last-child) {
  border-radius: 0 0 var(--calcite-app-border-radius) var(--calcite-app-border-radius);
  margin-bottom: 0;
  @include borderShadow();
}

.icon {
  color: var(--calcite-app-foreground-link);
  flex: 0 0 0%;
  line-height: 0;
  width: var(--calcite-app-icon-size);
  margin: 0 var(--calcite-app-side-spacing-half);
}
.label {
  display: flex;
  flex: 1 0 0;
  padding: var(--calcite-app-cap-spacing) var(--calcite-app-side-spacing-half) var(--calcite-app-cap-spacing)
    var(--calcite-app-cap-spacing);
  align-items: center;
  cursor: pointer;
}
.textContainer {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 0 0%;
  overflow: hidden;
  pointer-events: none;
}

.title {
  @include lineClamp();
}

.description {
  color: var(--calcite-app-foreground-subtle);
  font-family: var(--calcite-app-font-family-monospace);
  font-size: var(--calcite-app-font-size--1);
  margin-top: var(--calcite-app-cap-spacing-quarter);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.action {
  flex: 0 0 0%;
  justify-self: flex-end;
}

.handle {
  align-items: center;
  align-self: stretch;
  color: var(--calcite-app-foreground-subtle);
  cursor: move;
  display: flex;
  justify-content: center;
  line-height: 0;
}
