:host {
  align-items: center;
  display: flex;
  margin: 0 var(--calcite-app-side-spacing-half) var(--calcite-app-cap-spacing-minimum);
  background-color: var(--calcite-app-background);
  color: var(--calcite-app-foreground);
  transition: background-color var(--calcite-app-animation-time-fast) var(--calcite-app-easing-function);
  animation: calcite-app-fade-in var(--calcite-app-animation-time) var(--calcite-app-easing-function);
}

:host(:hover),
:host(:focus) {
  background-color: var(--calcite-app-background-hover);
}

:host(:last-child) {
  margin-bottom: 0;
  @include borderShadow();
}

.icon {
  color: var(--calcite-app-foreground-link);
  flex: 0 0 0%;
  line-height: 0;
  width: var(--calcite-app-icon-size);
  margin: 0 var(--calcite-app-side-spacing-half);
}

.label {
  display: flex;
  flex: 1 1 auto;
  padding: var(--calcite-app-cap-spacing-three-quarters) var(--calcite-app-side-spacing-half);
  align-items: center;
  cursor: pointer;

  @include focusRingInset();
}

.text-container {
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  pointer-events: none;
  padding: 0 var(--calcite-app-side-spacing-half);
}

.title {
  font-size: var(--calcite-app-font-size-0);
  @include lineClamp(2);
}

.description {
  color: var(--calcite-app-foreground-subtle);
  font-family: var(--calcite-app-font-family-monospace);
  font-size: var(--calcite-app-font-size--1);
  margin-top: var(--calcite-app-cap-spacing-quarter);
  @include lineClamp(2);
}

.action {
  flex: 0 0 0%;
  justify-self: flex-end;
  margin: var(--calcite-app-cap-spacing-quarter) var(--calcite-app-side-spacing-half);
}
