$shell-panel-width: 20vw !default;
$shell-panel-min-width: 240px !default;
$shell-panel-max-width: 360px !default;

:host {
  height: 100%;
  position: relative;
  display: flex;
  background-color: var(--calcite-app-background-content);
}

.content {
  width: $shell-panel-width;
  min-width: $shell-panel-min-width;
  max-width: $shell-panel-max-width;
  border-left: 1px solid var(--calcite-app-border);
  border-right: 1px solid var(--calcite-app-border);
}

slot[name="content"]::slotted(*) {
  padding: 0;
  margin: 0;
  height: 100%;
}
