:host {
  height: 100%;
  position: relative;
  display: flex;
  background-color: var(--calcite-app-background-content);
}

.content {
  flex: 1;
  // padding: 10px;
  width: 15vw;
  min-width: 280px;
}
