$vibrant-blue: $v-bb-120;

@mixin calciteLightThemeVars {
  --calcite-app-background: #{$white};
  --calcite-app-foreground: #{$darker-gray};

  --calcite-app-background-hover: #{$lighter-gray};
  --calcite-app-foreground-hover: #{$darkest-gray};

  --calcite-app-background-active: #{$lightest-blue};
  --calcite-app-foreground-active: #{$dark-blue};

  --calcite-app-foreground-subtle: #{$gray};

  --calcite-app-background-content: #{$lighter-gray};

  --calcite-app-border: #{$lighter-gray};
  --calcite-app-border-subtle: #{$lightest-gray};
}

@mixin calciteDarkThemeVars {
  --calcite-app-background: #{$darker-gray};
  --calcite-app-foreground: #{$light-gray};

  --calcite-app-background-hover: #{$darkest-gray};
  --calcite-app-foreground-hover: #{$lightest-gray};

  --calcite-app-background-active: #{$off-black};
  --calcite-app-foreground-active: #{$vibrant-blue};

  --calcite-app-foreground-subtle: #{$lighter-gray};

  --calcite-app-background-content: #{$darkest-gray};

  --calcite-app-border: #{$darkest-gray};
  --calcite-app-border-subtle: #{$darkest-gray};
}

:root {
  @include calciteLightThemeVars();
}

/* keep below :root */
:host([theme="dark"]) {
  @include calciteDarkThemeVars();
}

/* keep below :host([theme="dark"]) */
:host([theme="light"]) {
  @include calciteLightThemeVars();
}
