@import '../../assets/styles/mixins';

$gutter-size: 24px 12px;

:host {
  position: relative;
  display: block;
  padding: $gutter-size;
  background-color: #fff;
  color: #6e6e6e;
}
:host([hidden]) {
  display: none;
}

$tip-manager-close-size: 24px;
.close {
  @include calcite-close-icon($size: $tip-manager-close-size, $gutter-size: $gutter-size)
}
