$largeScreen: 1025px;

:host {
  position: relative;
}
.hamburger {
  display: inline-block;
  position: relative;
  margin: 6px;
  border: none;
  cursor: pointer;
  z-index: 999;
  @media (min-width: $largeScreen) {
    display: none;
  }
  :hover {
    fill: blue;
  }
}
ul {
  @media (max-width: $largeScreen - 1) {
    display: none;
    &.open {
      display: block;
    }
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 24px;
    z-index: 9999;
  }
  @media (min-width: $largeScreen) {
    display: flex;
    position: static;
  }
  list-style: none;
  margin: 0;
  padding: 0;
  color: #fff;
  fill: #fff;
  background-color: #333;
}
li {
  border-top: 1px solid white;
  @media (min-width: $largeScreen) {
    border-top: none;
    border-left: 1px solid white;
  }
}
li:first-child {
  border-top: none;
  @media (min-width: $largeScreen) {
    border-left: none;
  }
}
li:last-child {
  border-bottom: 1px solid white;
  @media (min-width: $largeScreen) {
    border-bottom: none;
    border-right: 1px solid white;
  }
}
.link {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  @media (min-width: $largeScreen) {
    padding: 12px 24px;
  }
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
}
.link:hover {
  background-color: black;
}
.link.is-active {
  background-color: #007bc7;
}
svg {
  fill: inherit;
}
