:host {
  position: relative;
  display: block;
  background-color: transparent;
  width: auto;
}
.hamburger {
  background-color: transparent;
  display: block;
  position: relative;
  padding: var(--calcite-app-cap-spacing-half) var(--calcite-app-side-spacing);
  border: none;
  cursor: pointer;
  z-index: 999;
  :hover {
    fill: var(--calcite-app-foreground-link);
  }
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #fff;
  fill: #fff;
}
.menu {
  background-color: #333;
  &.open {
    display: flex;
  }
  display: none;
  flex-flow: column;
  box-shadow: var(--calcite-app-shadow-1);
  top: 100%;
  left: 0;
  z-index: 9999;
  position: absolute;
  li {
    position: relative;
    width: 12.5vw;
    &:first-child {
      width: 100%;
    }
  }
}
.link {
  display: flex;
  align-items: center;
  padding: var(--calcite-app-cap-spacing) var(--calcite-app-side-spacing);
  color: inherit;
  text-decoration: none;
  border-left: 2px solid transparent;
}
.link:hover {
  background-color: black;
}
.link.is-active {
  border-left-color: #fff;
  background-color: black;
}
svg {
  fill: inherit;
}
.child-menu {
  background-color: #333;
  position: absolute;
  z-index: 999;
  bottom: 0%;
  left: 100%;
  border-left: 1px solid var(--calcite-app-border);
}
.child-menu[open] {
  display: block;
}
