:host {
  width: 100vw;
  background-color: #333;
  color: #fff;
  fill: #fff;
  display: flex;
}
ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  display: flex;
  border-left: 1px solid white;
}
li:first-child {
  border-left: none;
}
li:last-child {
  border-right: 1px solid white;
}
a {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  color: inherit;
  text-decoration: none;
}
a:hover {
  background-color: black;
}
a.is-active {
  background-color: #007bc7;
}
svg {
  fill: inherit;
}
