:host {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: block;
  background-color: #f3f3f380;
  box-shadow: var(--calcite-app-shadow-1);
  z-index: 999;
}
.hamburger {
  background-color: transparent;
  display: block;
  position: relative;
  padding: var(--calcite-app-cap-spacing-half) var(--calcite-app-side-spacing);
  border: none;
  cursor: pointer;
  z-index: 999;
  :hover {
    fill: var(--calcite-app-foreground-link);
  }
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #fff;
  fill: #fff;
}
.menu {
  background-color: #333;
  &.open {
    display: flex;
  }
  display: none;
  flex-flow: row wrap;
  box-shadow: var(--calcite-app-shadow-1);
  top: 100%;
  left: 0;
  z-index: 9999;
  position: absolute;
  > li {
    position: relative;
    width: 24vw;
    &:first-child,
    &:last-child {
      width: 100%;
    }
  }
}
.link {
  display: flex;
  align-items: center;
  padding: var(--calcite-app-cap-spacing) var(--calcite-app-side-spacing);
  color: inherit;
  text-decoration: none;
  border-left: 2px solid transparent;
}
.link:hover {
  background-color: black;
}
.link.is-active {
  border-left-color: var(--calcite-app-border);
  background-color: black;
}
svg {
  fill: inherit;
}
.child-menu {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  background-color: #121212;
  position: absolute;
  padding: var(--calcite-app-cap-spacing) var(--calcite-app-side-spacing);
  z-index: 999;
  bottom: 100%;
  left: 0;
  box-shadow: var(--calcite-app-shadow-2);
  border-bottom: 1px solid #ffffff33;
  li {
    position: relative;
    width: 24vw;
  }
  &[hidden] {
    display: none;
  }
}
.child-menu[open] {
  display: flex;
}
