.blocking-container {
  align-items: center;
  background-color: var(--calcite-app-scrim);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;

  animation: calcite-app-fade-in var(--calcite-app-animation-time) var(--calcite-app-easing-function);
}
