$shell-min-width: 1024px !default; // ipad
$shell-min-height: 671px !default; // ipad + browser with tabs

:host {
  min-height: $shell-min-height;
  min-width: $shell-min-width;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: row;
  position: relative;
}

slot[name="content"]::slotted(*) {
  flex: 1;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

slot[name="app-footer"]::slotted(*) {
  background-color: var(--calcite-app-background);
  padding: var(--calcite-app-cap-spacing-half) var(--calcite-app-side-spacing);
}
