$shell-min-width: 1024px !default; // ipad
$shell-min-height: 671px !default; // ipad + browser with tabs

:host {
  min-height: $shell-min-height;
  min-width: $shell-min-width;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  position: relative;
  border-top: 1px solid var(--calcite-app-border-subtle);
  border-bottom: 1px solid var(--calcite-app-border-subtle);
}

.content {
  flex: 1;
}

.footer {
  background-color: var(--calcite-app-background);
  padding: var(--calcite-app-cap-spacing-half) var(--calcite-app-side-spacing);
}
