:host {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main {
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  position: relative;
  border-top: 1px solid var(--calcite-app-border-subtle);
  border-bottom: 1px solid var(--calcite-app-border-subtle);
  justify-content: space-between;
  overflow: hidden;
}

.content {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 0;
}

::slotted(calcite-shell-panel) {
  position: relative;
  z-index: 1;
}

slot[name="action-bar"]::slotted(calcite-action-bar) {
  border-right: 2px solid #ff0000;
}

.footer {
  padding: var(--calcite-app-cap-spacing-half) var(--calcite-app-side-spacing);
}
