:host {
  border-bottom: 1px solid var(--calcite-app-border);
  display: block;
  margin-bottom: var(--calcite-app-cap-spacing-quarter);
}

:host(:last-child) {
  border-bottom: none;
}

.toggle--switch {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: var(--calcite-app-cap-spacing-half) var(--calcite-app-side-spacing-half);
  user-select: none;
  calcite-switch {
    margin: 0;
  }
}
