:host {
  display: block;
}

.toggle {
  align-items: center;
  border: none;
  cursor: pointer;
  display: flex;
  margin: 0;
  text-align: unset;
  width: 100%;
  background-color: transparent;
  padding: var(--calcite-app-cap-spacing-half) var(--calcite-app-side-spacing-half);
  align-items: center;
  justify-content: flex-start;
}
