:host {
  display: block;
  background-color: var(--calcite-app-background-clear);
}

.button {
  font-family: var(--calcite-app-font-family);
  display: flex;
  color: var(--calcite-app-foreground);
  fill: var(--calcite-app-foreground);
  background-color: var(--calcite-app-background);
  border-radius: var(--calcite-app-border-radius);
  padding: var(--calcite-app-cap-spacing-three-quarters) var(--calcite-app-side-spacing-three-quarters);
  margin: 0;
  justify-content: flex-start;
  align-items: center;
  border: none;
  width: auto;
  cursor: pointer;
  font-size: var(--calcite-app-font-size--1);
  line-height: normal;
  transition: color 125ms ease-in-out, fill 125ms ease-in-out, background-color 125ms ease-in-out;
  text-align: unset;
  position: relative;
  &.button--compact {
    padding-left: var(--calcite-app-side-spacing-quarter);
    padding-right: var(--calcite-app-side-spacing-quarter);
  }

  &:hover {
    background-color: var(--calcite-app-background-hover);
    color: var(--calcite-app-foreground-hover);
    fill: var(--calcite-app-foreground-hover);
  }
  .icon-container {
    max-width: var(--calcite-app-icon-size);
    max-height: var(--calcite-app-icon-size);
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    pointer-events: none;
  }
  .text-container {
    flex: 1;
    line-height: 1rem;
    margin: 0 var(--calcite-app-side-spacing-half);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.slot-container--hidden {
  display: none;
}

.button--text-visible {
  width: 100%;
}

.button--text-interactive {
  .text-container {
    margin-left: 0;
    margin-right: 0;
    opacity: 0;
    width: 0;
    transition: opacity var(--calcite-app-animation-time) var(--calcite-app-easing-function),
      margin var(--calcite-app-animation-time-fast) var(--calcite-app-easing-function),
      width var(--calcite-app-animation-time-fast) var(--calcite-app-easing-function);
  }
  &:hover,
  &:focus {
    .text-container {
      margin: 0 var(--calcite-app-side-spacing-half);
      opacity: 1;
      width: 100%;
    }
  }
}

:host([active]) .button,
:host([active]) .button:hover,
:host([active][loading]) .button {
  color: var(--calcite-app-foreground-active);
  fill: var(--calcite-app-foreground-active);
  background-color: var(--calcite-app-background-active);
}

:host([loading]) .button,
:host([loading]) .button:hover {
  background-color: var(--calcite-app-background);
}

:host([loading]) calcite-loader[inline] {
  color: var(--calcite-app-foreground-subtle);
  margin-right: 0;
}

:host([disabled]) .button,
:host([disabled]) .button:hover {
  cursor: default;
  opacity: var(--calcite-app-disabled-opacity);
  background-color: var(--calcite-app-background);
}

:host([disabled][active]) .button,
:host([disabled][active]) .button:hover {
  opacity: var(--calcite-app-disabled-opacity);
  background-color: var(--calcite-app-background-active);
}

:host([indicator]) .button--text-visible-visible,
:host([indicator]) .button--text-interactive:focus,
:host([indicator]) .button--text-interactive:hover {
  padding-right: var(--calcite-app-side-spacing);
}

:host([indicator]) .button::after {
  content: "";
  border-radius: 50%;
  width: var(--calcite-app-side-spacing-half);
  height: var(--calcite-app-side-spacing-half);
  border: var(--calcite-app-side-spacing-eighth) solid var(--calcite-app-background);
  background-color: var(--calcite-app-foreground-active);
  position: absolute;
  bottom: var(--calcite-app-cap-spacing-half);
  right: var(--calcite-app-side-spacing-quarter);
  z-index: 1;
}

:host([indicator]) .calcite--rtl::after {
  right: unset;
  left: var(--calcite-app-side-spacing-quarter);
}

:host([indicator]) .button--text-visible.calcite--rtl,
:host([indicator]) .button--text-interactive.calcite--rtl:focus,
:host([indicator]) .button--text-interactive.calcite--rtl:hover {
  padding-right: var(--calcite-app-side-spacing-three-quarters);
  padding-left: var(--calcite-app-side-spacing);
}

:host([indicator]) .button:hover::after {
  border-color: var(--calcite-app-background-hover);
}

:host([indicator][active]) .button::after {
  border-color: var(--calcite-app-background-active);
}

:host([indicator]) .button--text-visible::after,
:host([indicator]) .button--text-interactive:hover::after,
:host([indicator]) .button--text-interactive:focus::after {
  bottom: unset;
  right: var(--calcite-app-side-spacing-half);
}

:host([indicator]) .button--text-visible.calcite--rtl::after,
:host([indicator]) .button--text-interactive.calcite--rtl:hover::after,
:host([indicator]) .button--text-interactive.calcite--rtl:focus::after {
  right: unset;
  left: var(--calcite-app-side-spacing-half);
}
