:host .button {
  display: flex;
  color: var(--calcite-app-foreground__interactive);
  fill: var(--calcite-app-foreground__interactive);
  background-color: var(--calcite-app-background);
  border-radius: var(--calcite-app-border-radius);
  padding: var(--calcite-app-cap-spacing--three-quarters) var(--calcite-app-side-spacing--three-quarters);
  margin: var(--calcite-app-cap-spacing--quarter) 0;
  justify-content: flex-start;
  align-items: center;
  border: none;
  width: 100%;
  cursor: pointer;
  font: inherit;
  font-size: var(--font-size--1);
  line-height: normal;
  transition: color 125ms ease-in-out, fill 125ms ease-in-out, background-color 125ms ease-in-out;
}

:host([active]) .calcite-action__button,
:host .calcite-action__button:hover {
  background-color: var(--calcite-app-background--highlight);
}


:host([active]) .button {
  color: var(--calcite-app-foreground__interactive--highlight);
  fill: var(--calcite-app-foreground__interactive--highlight);
}

:host .icon-container {
  max-width: var(--calcite-app-icon-size);
  max-height: var(--calcite-app-icon-size);
  margin: 0;
  justify-content: center;
}

:host .text-container {
  flex: 1;
  line-height: 1rem;
  margin: 0 var(--calcite-app-side-spacing--half);
  word-break: break-word;
  text-align: left;
}
