.button {
  font-family: var(--calcite-app-font-family);
  display: flex;
  color: var(--calcite-app-foreground);
  fill: var(--calcite-app-foreground);
  background-color: var(--calcite-app-background);
  border-radius: var(--calcite-app-border-radius);
  padding: var(--calcite-app-cap-spacing-three-quarters) var(--calcite-app-side-spacing-three-quarters);
  margin: 0;
  justify-content: flex-start;
  align-items: center;
  border: none;
  width: 100%;
  cursor: pointer;
  font-size: var(--calcite-app-font-size--1);
  line-height: normal;
  transition: color 125ms ease-in-out, fill 125ms ease-in-out, background-color 125ms ease-in-out;
  text-align: unset;
  position: relative;
  &.compact {
    padding-left: var(--calcite-app-side-spacing-quarter);
    padding-right: var(--calcite-app-side-spacing-quarter);
  }

  &:hover {
    background-color: var(--calcite-app-background-hover);
    color: var(--calcite-app-foreground-hover);
    fill: var(--calcite-app-foreground-hover);
  }
  .icon-container {
    max-width: var(--calcite-app-icon-size);
    max-height: var(--calcite-app-icon-size);
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .text-container {
    flex: 1;
    line-height: 1rem;
    margin: 0 var(--calcite-app-side-spacing-half);
    word-break: break-word;
  }
}

:host([active]) .button,
:host([active]) .button:hover {
  color: var(--calcite-app-foreground-active);
  fill: var(--calcite-app-foreground-active);
  background-color: var(--calcite-app-background-active);
}

:host([indicator]) .button::after {
  content: "";
  border-radius: 50%;
  width: var(--calcite-app-side-spacing-half);
  height: var(--calcite-app-side-spacing-half);
  border: var(--calcite-app-side-spacing-eighth) solid var(--calcite-app-background);
  background-color: var(--calcite-app-foreground-active);
  position: absolute;
  bottom: var(--calcite-app-cap-spacing-half);
  right: var(--calcite-app-side-spacing-quarter);
  z-index: 1;
}

:host([indicator]) .calcite-component--rtl::after {
  right: unset;
  left: var(--calcite-app-side-spacing-quarter);
}

:host([indicator]) .button:hover::after {
  border-color: var(--calcite-app-background-hover);
}

:host([indicator][active]) .button::after {
  border-color: var(--calcite-app-background-active);
}

:host([indicator][text-enabled]) .button::after {
  bottom: unset;
  right: var(--calcite-app-side-spacing-half);
}

:host([indicator][text-enabled]) .calcite-component--rtl::after {
  right: unset;
  left: var(--calcite-app-side-spacing-half);
}
