.container {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: var(--calcite-app-cap-spacing-half) 0;
}

:host([disabled]) .container {
  pointer-events: none;
  opacity: var(--calcite-app-disabled-opacity);
}

.text-container {
  padding-right: var(--calcite-app-side-spacing-half);
}

calcite-switch {
  display: flex;
  margin: 0;
  top: unset;
}

.calcite--rtl .text-container {
  padding-right: 0;
  padding-left: var(--calcite-app-side-spacing-half);
}
