:host {
  display: flex;
  height: 100%;
  font-size: var(--calcite-app-base-font-size);
  position: relative;

  --calcite-app-panel-max-height-small: 40vh;
  --calcite-app-panel-max-height-medium: 60vh;
  --calcite-app-panel-max-height-large: 80vh;
}

.container {
  transition: max-height var(--calcite-app-animation-time) var(--calcite-app-easing-function);
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column;
}

:host([height-scale="s"]) .container {
  max-height: var(--calcite-app-panel-max-height-small);
}

:host([height-scale="m"]) .container {
  max-height: var(--calcite-app-panel-max-height-medium);
}

:host([height-scale="l"]) .container {
  max-height: var(--calcite-app-panel-max-height-large);
}

.container[hidden] {
  display: none;
}

:host([loading]) .container,
:host([disabled]) .container {
  position: relative;
  z-index: 1;
}

.header {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  border-bottom: 1px solid var(--calcite-app-border);
  width: 100%;
}

.header-middle-content {
  display: flex;
  flex-flow: column;
  overflow: hidden;
  padding: var(--calcite-app-cap-spacing) var(--calcite-app-side-spacing);
}

.header-leading-content + .header-middle-content {
  padding-left: var(--calcite-app-side-spacing-half);
}

slot[name="header-content"]::slotted(.heading),
slot[name="header-summary"]::slotted(.summary) {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.header-trailing-content {
  margin-left: auto;
}

.content-container {
  background-color: var(--calcite-app-background-content);
  flex: 1 1 auto;
  background-color: var(--calcite-app-background-content);
  overflow: auto;
}

.footer {
  border-top: 1px solid var(--calcite-app-border);
  display: flex;
  justify-content: space-evenly;
  padding: var(--calcite-app-cap-spacing-half) var(--calcite-app-side-spacing-half);
}

.calcite--rtl {
  .header-leading-content + .header-content {
    padding-right: var(--calcite-app-side-spacing-half);
  }
  .header-trailing-content {
    margin-left: 0;
    margin-right: auto;
  }
}
