:host {
  display: flex;
  height: 100%;
  font-size: var(--calcite-app-base-font-size);
}

.container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column;
  position: relative;
}

.header {
  align-items: center;
  color: var(--calcite-app-foreground);
  display: flex;
  padding: var(--calcite-app-cap-spacing-quarter) var(--calcite-app-side-spacing-half);
  justify-content: flex-start;
  position: relative;
  z-index: 2;
  background-color: var(--calcite-app-background);
  border-bottom: 1px solid var(--calcite-app-border);
  justify-content: flex-start;
}

.heading--first {
  justify-content: flex-start;
}

.content-container {
  flex: 1;
  background-color: var(--calcite-app-background-content);
  padding: 0;
  overflow: auto;
}

.footer {
  align-items: center;
  background-color: var(--calcite-app-background);
  border-top: 1px solid var(--calcite-app-border);
  display: flex;
  justify-content: space-around;
  padding: var(--calcite-app-cap-spacing) var(--calcite-app-side-spacing-half);
  flex-flow: row nowrap;
}
