:host {
  display: flex;
  height: 100%;
  font-size: var(--calcite-app-base-font-size);
  position: relative;
}

.container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column;
}

:host[height-scale="s"] .container {
  max-height: 33vh;
}

:host[height-scale="m"] .container {
  max-height: 33vh;
}

:host[height-scale="l"] .container {
  max-height: 33vh;
}

.container[hidden] {
  display: none;
}

:host([loading]) .container,
:host([disabled]) .container {
  position: relative;
  z-index: 1;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  border-bottom: 1px solid var(--calcite-app-border);
  width: 100%;
}

.header-content {
  overflow: hidden;
  padding: var(--calcite-app-cap-spacing-quarter) var(--calcite-app-side-spacing);
}

slot[name="header-content"]::slotted(.heading) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.content-container {
  background-color: var(--calcite-app-background-content);
  flex: 1 1 auto;
  background-color: var(--calcite-app-background-content);
  overflow: auto;
}

.footer {
  border-top: 1px solid var(--calcite-app-border);
  display: flex;
  justify-content: space-evenly;
  padding: var(--calcite-app-cap-spacing-half) var(--calcite-app-side-spacing-half);
  width: calc(100% - #{var(--calcite-app-side-spacing)});
}
