:host {
  display: flex;
  height: 100%;
  font-size: var(--calcite-app-base-font-size);
  position: relative;
}

.container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column;
}

.container[hidden] {
  display: none;
}

:host([loading]) .container,
:host([disabled]) .container {
  position: relative;
  z-index: 1;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  border-bottom: 1px solid var(--calcite-app-border);
  width: 100%;
}

.header-content {
  overflow: hidden;
  padding: var(--calcite-app-cap-spacing-quarter) var(--calcite-app-side-spacing);
}

slot[name="header-content"]::slotted(.heading) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.header-leading-content,
.header-trailing-content {
  padding: 0 var(--calcite-app-side-spacing-half);
}

.content-container {
  background-color: var(--calcite-app-background-content);
  flex: 1;
  background-color: var(--calcite-app-background-content);
  overflow: auto;
}

.footer {
  align-items: center;
  border-top: 1px solid var(--calcite-app-border);
  display: flex;
  justify-content: space-around;
  padding: var(--calcite-app-cap-spacing) var(--calcite-app-side-spacing-half);
  flex-flow: row nowrap;
}
