:host {
  display: flex;
  align-items: center;
  padding: var(--calcite-app-cap-spacing-half) var(--calcite-app-side-spacing-half);
  background-color: var(--calcite-app-background);
  box-shadow: 0 1px 0 var(--calcite-app-border);
  margin-bottom: var(--calcite-app-cap-spacing-half);
  cursor: pointer;
}
:host([hidden]) {
  display: none;
}

:host(.highlight) {
  border-left: 3px solid transparent;
}
:host(.highlight[selected]) {
  border-left-color: var(--calcite-app-border-active);
}
.label {
  flex-grow: 1;
  margin: 0 12px;
  min-width: 60px;
}
.heading,
.description {
  margin: 0;
}
.handle {
  cursor: move;
}
