:host {
  @extend %component-host;
  background-color: var(--calcite-app-background-content);
  display: flex;
  height: 100%;
  width: 100%;
}

@import "../../scss/includes/_component";

calcite-panel {
  width: 100%;
  height: 100%;
}

.header-content {
  display: block;
  .heading {
    font-size: var(--calcite-app-font-size-0);
    font-weight: var(--calcite-app-font-weight);
    margin: 0 0 var(--calcite-app-cap-spacing-quarter);
    &:only-child {
      margin-bottom: 0;
    }
  }
  .summary {
    color: var(--calcite-app-foreground-subtle);
    font-size: var(--calcite-app-font-size--1);
  }
  .heading,
  .summary {
    padding: 0;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
}

.menu-button {
  align-self: stretch;
  flex: 0 1 auto;
  height: 100%;
  position: relative;
}

.header-actions,
.menu-container,
.single-action-container {
  display: flex;
}

.menu {
  position: absolute;
  top: 100%;
  z-index: 1;
  background-color: var(--calcite-app-background);
  box-shadow: var(--calcite-app-shadow-0);
  padding: 0;
  left: auto;
  min-width: var(--calcite-app-menu-min-width);
  right: var(--calcite-app-menu-offset);
  visibility: visible;
  flex-flow: column nowrap;
  border: 1px solid var(--calcite-app-border);
  animation: calcite-app-fade-in-down var(--calcite-app-animation-time-fast) var(--calcite-app-easing-function);
  display: none;
}

.calcite--rtl .menu {
  left: var(--calcite-app-menu-offset);
  right: auto;
}

.menu--open {
  display: block;
}

.footer-actions {
  display: flex;
  width: 100%;
}

.fab-container {
  display: inline-block;
}
