@import "../../assets/styles/component";

:host {
  align-items: stretch;
  background-color: var(--calcite-app-background-clear);
  display: flex;
  flex: 1 0 auto;
  flex-flow: column;
  padding-bottom: var(--calcite-app-cap-spacing-half);
  position: relative;
}

header {
  background-color: var(--calcite-app-background);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: var(--calcite-app-cap-spacing-half);
  &.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}

calcite-filter {
  @include borderShadow();
}

slot[name="menu-actions"]::slotted(calcite-action) {
  padding: 0 var(--calcite-app-side-spacing-half);
}

:host([loading][disabled]) {
  min-height: 2rem;
}
