:host {
  background-color: var(--calcite-app-background-content);
  display: block;
  padding: var(--calcite-app-cap-spacing-half) var(--calcite-app-side-spacing-half);
}

.heading {
  margin: var(--calcite-app-cap-spacing) 0;
}

.container {
  border-radius: var(--calcite-app-border-radius);
  overflow: hidden;
}
