:host {
  align-items: stretch;
  background-color: var(--calcite-app-background-clear);
  display: flex;
  flex-flow: column;
  padding-bottom: var(--calcite-app-cap-spacing-half);
}

header {
  display: flex;
}

calcite-filter {
  margin-bottom: var(--calcite-app-cap-spacing-half);
  @include borderShadow();
}

:host([loading]) {
}
