:host {
  background-color: transparent;
  display: block;
  padding: var(--calcite-app-cap-spacing-half) var(--calcite-app-side-spacing-half);
}

// .container {
//   border-radius: var(--calcite-app-border-radius);
//   overflow: hidden;
//   @include borderShadow();
// }
