.gnav {
    display: flex;
    align-items: center;
    height: 56px;
    flex: 1 0 56px;
}

.gnav__action {
    margin: 0 16px;
}

.gnav__action--small {
    margin: 0 3px;
}

.gnav h2 {
    font-weight: var(--calcite-app-font-weight);
    font-size: 18px;
    margin: 0 12px;
}

.enable-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--calcite-app-cap-spacing) var(--calcite-app-side-spacing) var(--calcite-app-cap-spacing-half);
  background-color: var(--calcite-app-background);
  position: sticky;
  top: 0;
  z-index: 10;
}

.enable-label calcite-switch {
  margin: 0;
}

.combo-control {
  width: 100%;
  margin: 0 0 var(--calcite-app-cap-spacing) 0;
}

.combo-control:only-child {
  margin-bottom: 0;
}

.combo-control__label {
  display: block;
  margin: 0 0 var(--calcite-app-cap-spacing-quarter);
  font-size: var(--calcite-app-font-size--1);
}

.combo-button {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid var(--calcite-app-border);
}

.combo-button__main {
  border: none;
  background-color: white;
  font-size: var(--calcite-app-font-size-0);
  color: var(--calcite-app-foreground);
  font-family: var(--calcite-app-font-family);
  height: 32px;
  width: calc(100% - 32px);
  text-align: unset;
  white-space: nowrap;
  overflow: hidden;
}
.placeholder {
  color: var(--calcite-app-foreground-subtle);
}
.combo-button .combo-action {
  border-left: 1px solid var(--calcite-app-border);
}

.popup-title {
    display: flex;
    border-top: 1px solid var(--calcite-app-border);
    /* border-bottom: 1px solid var(--calcite-app-border); */
    background-color: var(--calcite-app-background);
    padding: var(--calcite-app-cap-spacing-half) var(--calcite-app-side-spacing) var(--calcite-app-cap-spacing);
    /* margin-bottom: var(--calcite-app-cap-spacing); */
}

.multiline-button {
  border: solid 1px var(--calcite-app-border);
  background: transparent;
  font-size: var(--calcite-app-font-size-0);
  color: var(--calcite-app-foreground-subtle);
  font-family: var(--calcite-app-font-family);
  text-align: unset;
  padding: var(--calcite-app-cap-spacing-half) var(--calcite-app-side-spacing-half);
  margin: var(--calcite-app-cap-spacing-half) 0;
  line-height: 1.4;
}

.combo-button.flow-list-item {
    border: none;
    background-color: var(--calcite-app-background);
    /* position: sticky;
    top: 0; */
}
.combo-button.flow-list-item .combo-action {
    border: none;
}
.flow-list-item .combo-button__main {
    height: auto;
    padding: var(--calcite-app-cap-spacing-half) var(--calcite-app-side-spacing) var(--calcite-app-cap-spacing);
}
.flow-list-item .combo-action {
    margin-right: var(--calcite-app-side-spacing-three-quarters);
}

.row {
  display: flex;
  justify-content: center;
  padding: var(--calcite-app-cap-spacing-half) 0;
}

/* /////////////////////////// */
/* LAYERLIST */

.widget {
  background-color: var(--calcite-app-background);
  padding: var(--calcite-app-cap-spacing-half);
  display: flex;
  /* width: 100%; */
  height: auto;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.33); */
  /* max-width: 420px; */
  /* margin: 1rem; */
}
.list {
  padding: 0;
  margin: 0 0 0 var(--calcite-app-side-spacing-double);
  display: flex;
  flex-flow: column nowrap;
}
.list.list--origin {
  margin-left: 0;
}

.list-item {
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
}
.list-item.out-of-range {
  opacity: 0.6;
  /* border-right: 1px solid var(--calcite-app-foreground-subtle); */
}
.list-item.selected .item {
  box-shadow: 2px 0 0 0 var(--calcite-app-border-active) inset;
  background-color: var(--calcite-app-background-active);
}
.list-item.selected .label {
  color: var(--calcite-app-foreground-active);
}
.item {
  display: flex;
  align-items: stretch;
  border-left: 1px solid var(--calcite-app-border);
  cursor: pointer;
  transition: background-color 125ms ease-in-out;
}
.item:hover {
  background-color: var(--calcite-app-background-hover);
}

.controls-start,
.controls-end {
  display: flex;
}
.controls-end {
  padding: 0 0 0 var(--calcite-app-side-spacing);
  margin-left: auto;
}
.controls-end.control {
  padding: 0 var(--calcite-app-side-spacing-half);
}
.control {
  color: var(--interactive);
  display: flex;
  align-items: center;
  /*   height: 100%; */
  /*   background-color: #ff000080; */
  padding: 0 var(--calcite-app-side-spacing-quarter);
  transition: background-color 125ms ease-in-out;
  cursor: pointer;
}
.control:hover,
.control:focus {
  background-color: var(--calcite-app-background-hover);
}

.control--hidden:hover {
  background-color: transparent;
}
.control svg {
  width: 16px;
  height: 16px;
}
.label {
  word-break: break-all;
  padding: var(--calcite-app-cap-spacing-half) var(--calcite-app-side-spacing-quarter);
}
.out-of-range .label {
  opacity: 0.6;
}
.drag {
  color: var(--calcite-app-border);
  padding: 0 var(--calcite-app-side-spacing-quarter);
  cursor: move;
}

.drag:hover,
.drag:focus {
  color: var(--calcite-app-foreground);
}
