:host {
  background-color: var(--calcite-app-background-clear);
  display: block;
}

calcite-pick-list-item {
  position: relative;
  margin: 0 0 var(--calcite-app-cap-spacing-minimum) 0;
  transition: background-color var(--calcite-app-animation-time-fast) var(--calcite-app-easing-function),
    box-shadow var(--calcite-app-animation-time-fast) var(--calcite-app-easing-function);
}

:host(:last-child) calcite-pick-list-item {
  box-shadow: none;
  margin-bottom: 0;
}

calcite-pick-list-item[selected],
:host(:last-child) calcite-pick-list-item[selected] {
  z-index: 1;
  @include borderShadowActive();
}
