:host {
  background-color: var(--calcite-app-background);
  height: 100%;
  padding: var(--calcite-app-cap-spacing-half) var(--calcite-app-side-spacing-half);
  display: flex;
  flex-direction: column;
  max-width: 15vw;
}

:host ::slotted(calcite-action-group) {
  border-bottom: 1px solid var(--calcite-app-border);
}

:host ::slotted(calcite-action-group:last-child) {
  border-bottom: none;
}

:host .action-group--bottom {
  flex-grow: 1;
  justify-content: flex-end;
}
