:host {
  background-color: var(--calcite-app-background);
  height: 100%;
  display: flex;
  color: var(--calcite-app-background);
  flex-direction: column;
  max-width: 15vw;
}

:host ::slotted(calcite-action-group) {
  border-bottom: 1px solid var(--calcite-app-border);
}

:host ::slotted(calcite-action-group:last-child) {
  border-bottom: none;
}
