:host {
  display: flex;
  flex-direction: column;
  border-radius: var(--calcite-app-border-radius);
  margin: var(--calcite-app-cap-spacing-third) var(--calcite-app-side-spacing-third);
  @include borderShadow();
}

calcite-loader[inline] {
  color: var(--calcite-app-foreground-subtle);
}

.header-container {
  & > .header {
    padding: var(--calcite-app-cap-spacing-half) var(--calcite-app-side-spacing-three-quarters);
  }
}

.header {
  flex-grow: 1;
}

.title {
  flex-grow: 1;
  margin: 0;
}

.header .title .heading {
  padding: 0 0 var(--calcite-app-cap-spacing-quarter);
}

.summary {
  font-size: var(--calcite-app-font-size--1);
  padding: 0 0 var(--calcite-app-cap-spacing-quarter);
}

.toggle {
  padding: var(--calcite-app-cap-spacing-half) var(--calcite-app-side-spacing-three-quarters);
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  font-family: var(--calcite-app-font-family);
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  margin: 0;
  text-align: unset;
  width: 100%;
  color: var(--calcite-app-foreground);
}

.icon {
  margin-right: var(--calcite-app-side-spacing-third); //TODO RTL
}

.toggle-icon {
  fill: currentColor;
  flex: 0 0 var(--calcite-app-icon-size);
  margin: 0 var(--calcite-app-side-spacing-half);
}

.content {
  padding: 0 var(--calcite-app-side-spacing-three-quarters) var(--calcite-app-cap-spacing-half);
  position: relative;
}
