:host {
  display: flex;
  flex-direction: column;
  border-radius: var(--calcite-app-border-radius);
  box-shadow: 0 1px 0 var(--calcite-app-border);
  margin: var(--calcite-app-cap-spacing-half) var(--calcite-app-side-spacing-half);
}

:host([open]) {
  box-shadow: 0 0 0 1px var(--calcite-app-border);
}

calcite-loader[inline] {
  color: var(--calcite-app-foreground-subtle);
}

.header-container {
  & > .header {
    padding: var(--calcite-app-cap-spacing-half) var(--calcite-app-side-spacing-half);
  }
}

.header {
  flex-grow: 1;
}

.title {
  margin: 0;
}

.summary {
  font-size: var(--font-size--1);
  padding: 0 var(--calcite-app-side-spacing-half);
}

.toggle {
  padding: var(--calcite-app-cap-spacing-half) var(--calcite-app-side-spacing-half) var(--calcite-app-cap-spacing);
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  margin: 0;
  text-align: unset;
  width: 100%;
}

.toggle-icon {
  margin: 0 4px;
  fill: currentColor;
}

.content {
  padding-bottom: var(--calcite-app-cap-spacing-half);
  position: relative;
}
