:host {
  @extend %component-host;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  border-radius: var(--calcite-app-border-radius);
  margin: var(--calcite-app-cap-spacing-quarter) var(--calcite-app-side-spacing-quarter) 0;
  @include borderShadow();
}

@import "../../scss/includes/_component";
@import "../../scss/includes/_header";

.header {
  flex-grow: 1;
  justify-content: flex-start;
}

.header-container {
  display: grid;
  grid-template: auto / auto auto 1fr;
  grid-template-areas: "handle header control";
  align-items: center;

  & > .header {
    padding: var(--calcite-app-cap-spacing-half) var(--calcite-app-side-spacing-three-quarters);
  }
}

:host([disabled]) {
  pointer-events: none;
  user-select: none;

  .header-container {
    opacity: var(--calcite-app-disabled-opacity);
  }
}

calcite-loader[inline] {
  color: var(--calcite-app-foreground-subtle);
}

calcite-handle {
  grid-area: handle;
}

.title {
  margin: 0;
}

.header .title .heading {
  padding: 0 0 var(--calcite-app-cap-spacing-quarter);
}

.summary {
  font-size: var(--calcite-app-font-size--1);
  padding: 0 0 var(--calcite-app-cap-spacing-quarter);
}

.toggle {
  grid-column: header-start / control-end;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-grow: 1;
  margin: 0;
  padding: var(--calcite-app-cap-spacing-half) var(--calcite-app-side-spacing-three-quarters);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: var(--calcite-app-font-family);
  text-align: unset;
  color: var(--calcite-app-foreground);
  @include focusRingInset();
}

.icon {
  margin-right: var(--calcite-app-side-spacing-third); //TODO RTL
}

.toggle-icon {
  fill: currentColor;
  flex: 0 0 var(--calcite-app-icon-size);
  margin: 0 var(--calcite-app-side-spacing-half);
}

.content {
  padding: 0 var(--calcite-app-side-spacing-three-quarters) var(--calcite-app-cap-spacing-half);
  position: relative;
}

::slotted([slot="control"]) {
  grid-area: control;
  justify-self: end;
  margin: auto var(--calcite-app-side-spacing-three-quarters) auto auto;
}

.calcite--rtl {
  ::slotted([slot="control"]) {
    left: var(--calcite-app-side-spacing-three-quarters);
    right: unset;
  }
}
