:host {
  @extend %component-host;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0;
  border-top: 1px solid var(--calcite-app-border);
  transition: margin var(--calcite-app-animation-time) ease-in-out;

  --calcite-app-block-header-min-height: 2.5rem;
}

@import "../../scss/includes/_component";
@import "../../scss/includes/_header";

:host([open]) {
  margin-top: var(--calcite-app-cap-spacing-quarter);
  margin-bottom: var(--calcite-app-cap-spacing-quarter);
}

.header {
  flex-grow: 1;
  justify-content: flex-start;
  padding: 0 var(--calcite-app-side-spacing-half);
}

.header-container {
  display: grid;
  grid-template: auto / auto auto 1fr;
  grid-template-areas: "handle header control";
  align-items: center;

  & > .header {
    padding: var(--calcite-app-cap-spacing-three-quarters) 0;
  }
}

:host([open]) .header-container {
  border-bottom: 1px solid var(--calcite-app-border);
}

:host([disabled]) {
  pointer-events: none;
  user-select: none;

  .header-container {
    opacity: var(--calcite-app-disabled-opacity);
  }
}

calcite-loader[inline] {
  color: var(--calcite-app-foreground-subtle);
}

calcite-handle {
  grid-area: handle;
}

.title {
  margin: 0;
  padding: 0 var(--calcite-app-side-spacing-half);
}

.header .title .heading {
  padding: 0;
  font-size: var(--calcite-app-font-size-0);
}

.summary {
  color: var(--calcite-app-foreground-subtle);
  font-size: var(--calcite-app-font-size--1);
  padding: var(--calcite-app-cap-spacing-eighth) 0 var(--calcite-app-cap-spacing-quarter);
}

.toggle {
  grid-column: header-start / control-end;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-grow: 1;
  margin: 0;
  padding: var(--calcite-app-cap-spacing-three-quarters) 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: var(--calcite-app-font-family);
  text-align: unset;
  color: var(--calcite-app-foreground);
  @include focusRingInset();
}

.icon {
  margin-left: var(--calcite-app-side-spacing-quarter);
}

.toggle-icon {
  fill: currentColor;
  flex: 0 0 var(--calcite-app-icon-size);
  margin: 0 var(--calcite-app-side-spacing) 0 0;
}

.content {
  padding: var(--calcite-app-cap-spacing-half) var(--calcite-app-side-spacing);
  position: relative;
}

::slotted([slot="control"]) {
  grid-area: control;
  justify-self: end;
  margin: auto var(--calcite-app-side-spacing-three-quarters) auto auto;
}

:host([drag-handle]) {
  .icon {
    margin-left: 0;
    margin-right: var(--calcite-app-side-spacing-half);
  }
}
