// Animation
$animation-time: 250ms !default;

%component-animation {
  @keyframes calcite-app-fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes calcite-app-fade-in-down {
    0% {
      opacity: 0;
      transform: translate3D(0, -5px, 0);
    }
    100% {
      opacity: 1;
      transform: translate3D(0, 0, 0);
    }
  }

  @keyframes calcite-app-fade-in-up {
    0% {
      opacity: 0;
      transform: translate3D(0, 5px, 0);
    }
    100% {
      opacity: 1;
      transform: translate3D(0, 0, 0);
    }
  }

  @keyframes calcite-app-fade-in-scale {
    0% {
      opacity: 0;
      transform: scale3D(0.95, 0.95, 1);
    }
    100% {
      opacity: 1;
      transform: scale3D(1, 1, 1);
    }
  }

  // timing
  --calcite-app-animation-time: #{$animation-time};
  --calcite-app-animation-time-fast: calc(var(--calcite-app-animation-time) / 3);
  --calcite-app-animation-time-slow: calc(var(--calcite-app-animation-time) * 2);

  --calcite-app-easing-function: ease-in-out;
}
