:host {
  background-color: var(--calcite-app-background);
  box-sizing: border-box;
  color: var(--calcite-app-foreground);
  font-size: var(--calcite-app-font-size-0);
  * {
    box-sizing: border-box;
  }
}

:host([hidden]) {
  display: none;
}

.header {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: var(--calcite-app-header-min-height);
  min-height: var(--calcite-app-header-min-height);
  color: var(--calcite-app-foreground);
  fill: var(--calcite-app-foreground);
}

.heading {
  padding: 0;
  margin: 0;
}

.header .heading {
  flex: 1 0 auto;
  padding: var(--calcite-app-cap-spacing-half) var(--calcite-app-side-spacing-half);
}
