:host {
  background-color: var(--calcite-app-background);
  box-sizing: border-box;
  color: var(--calcite-app-foreground);
  font-family: var(--calcite-app-font-family);
  font-size: var(--calcite-app-font-size-0);
  line-height: var(--calcite-app-line-height);
  * {
    box-sizing: border-box;
  }
}

:host([hidden]) {
  display: none;
}

.header {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: var(--calcite-app-header-min-height);
  color: var(--calcite-app-foreground);
  fill: var(--calcite-app-foreground);
}

.heading {
  padding: 0;
  margin: 0;
}

.header .heading {
  flex: 1 0 auto;
  padding: var(--calcite-app-cap-spacing-half) var(--calcite-app-side-spacing-half);
}

h1.heading {
  font-size: var(--calcite-app-font-size-3);
  font-weight: var(--calcite-app-font-weight);
}

h2.heading {
  font-size: var(--calcite-app-font-size-2);
  font-weight: var(--calcite-app-font-weight-demi);
}

h3.heading,
h4.heading,
h5.heading {
  font-size: var(--calcite-app-font-size-1);
  font-weight: var(--calcite-app-font-weight-demi);
}
