$vibrant-blue: $v-bb-120;

:host {
  --calcite-app-background: #{$white};
  --calcite-app-foreground: #{$darker-gray};

  --calcite-app-background-hover: #{$lighter-gray};
  --calcite-app-foreground-hover: #{$darkest-gray};

  --calcite-app-background-active: #{$lightest-blue};
  --calcite-app-foreground-active: #{$dark-blue};

  --calcite-app-foreground-subtle: #{$gray};

  --calcite-app-background-content: #{$lighter-gray};

  --calcite-app-border: #{$lighter-gray};
}

:host([theme="dark"]) {
  --calcite-app-background: #{$darker-gray};
  --calcite-app-foreground: #{$light-gray};

  --calcite-app-background-hover: #{$darkest-gray};
  --calcite-app-foreground-hover: #{$lightest-gray};

  --calcite-app-background-active: #{$off-black};
  --calcite-app-foreground-active: #{$vibrant-blue};

  --calcite-app-foreground-subtle: #{$lighter-gray};

  --calcite-app-background-content: #{$darkest-gray};

  --calcite-app-border: #{$gray};
}
