$white: $blk-000;
$gray: $blk-130;
$light-gray: $blk-030;
$lighter-gray: $blk-020;
$lightest-gray: $blk-010;
$darker-gray: $blk-180;
$darkest-gray: $blk-200;
$off-black: $blk-220;
$blue: $h-bb-060;
$dark-blue: $h-bb-070;
$lightest-blue: $h-bb-010;
$vibrant-blue: $v-bb-120;

@mixin calciteLightThemeVars {
  --calcite-app-background: #{$white};
  --calcite-app-foreground: #{$darker-gray};

  --calcite-app-background-hover: #{$m-bb-010};
  --calcite-app-foreground-hover: #{$darkest-gray};

  --calcite-app-background-active: #{$lightest-blue};
  --calcite-app-foreground-active: #{$dark-blue};

  --calcite-app-foreground-subtle: #{$gray};
  --calcite-app-foreground-link: #{$blue};

  --calcite-app-background-content: #{$lightest-gray};

  --calcite-app-border: #{$lighter-gray};
  --calcite-app-border-subtle: #{$lightest-gray};

  --calcite-app-disabled-opacity: 0.25;
}

@mixin calciteDarkThemeVars {
  --calcite-app-background: #{$darker-gray};
  --calcite-app-foreground: #{$light-gray};

  --calcite-app-background-hover: #{$darkest-gray};
  --calcite-app-foreground-hover: #{$lightest-gray};

  --calcite-app-background-active: #{$off-black};
  --calcite-app-foreground-active: #{$vibrant-blue};

  --calcite-app-foreground-subtle: #{$lighter-gray};

  --calcite-app-background-content: #{$darkest-gray};

  --calcite-app-border: #{$darkest-gray};
  --calcite-app-border-subtle: #{$darkest-gray};
}

:root {
  @include calciteLightThemeVars();
}

/* keep below :root */
:host([theme="dark"]) {
  @include calciteDarkThemeVars();
}

/* keep below :host([theme="dark"]) */
:host([theme="light"]) {
  @include calciteLightThemeVars();
}
