$side-spacing: 15px !default;
$cap-spacing: 15px !default;
$animation-time: 250ms !default;

:host {
  --calcite-app-side-spacing: #{$side-spacing};
  --calcite-app-cap-spacing: #{$cap-spacing};

  --calcite-app-side-spacing-three-quarters: #{floor($side-spacing * 3/4)};
  --calcite-app-cap-spacing-three-quarters: #{floor($cap-spacing * 3/4)};

  --calcite-app-side-spacing-half: #{floor($side-spacing / 2)};
  --calcite-app-cap-spacing-half: #{floor($cap-spacing / 2)};

  --calcite-app-side-spacing-third: #{floor($side-spacing / 3)};
  --calcite-app-cap-spacing-third: #{floor($cap-spacing / 3)};

  --calcite-app-side-spacing-quarter: #{floor($side-spacing / 4)};
  --calcite-app-cap-spacing-quarter: #{floor($cap-spacing / 4)};

  --calcite-app-side-spacing-eighth: #{ceil($side-spacing / 8)};
  --calcite-app-cap-spacing-eighth: #{ceil($cap-spacing / 8)};

  --calcite-app-side-spacing-plus-half: #{floor($side-spacing * 1.5)};
  --calcite-app-cap-spacing-plus-half: #{floor($cap-spacing * 1.5)};

  --calcite-app-side-spacing-double: #{floor($side-spacing * 2)};
  --calcite-app-cap-spacing-double: #{floor($cap-spacing * 2)};

  --calcite-app-menu-min-width: 10rem;
  --calcite-app-menu-offset: 2px;

  --calcite-app-icon-size: 16px;

  --calcite-app-border-radius: 3px;

  --calcite-app-animation-time: #{$animation-time};
  --calcite-app-animation-time-fast: #{round($animation-time / 2)};
  --calcite-app-animation-time-slow: #{round($animation-time * 2)};

  // shadows
  --calcite-app-shadow-0: 0 2px 4px rgba(0, 0, 0, 0.1);
  --calcite-app-shadow-1: #{$shadow-1};
  --calcite-app-shadow-1-hover: #{$shadow-1--hover};
  --calcite-app-shadow-1--press: #{$shadow-1--press};
  --calcite-app-shadow-2: #{$shadow-2};
  --calcite-app-shadow-2-hover: #{$shadow-2--hover};
  --calcite-app-shadow-2-press: #{$shadow-2--press};
}
