// Mixins

@mixin borderShadow() {
  box-shadow: 0 1px 0 var(--calcite-app-border);
}

/* line-clamp
* https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-line-clamp
* 
* Interim solution until a more standard solution arrives e.g.
* https://www.w3.org/TR/css-overflow-3/#propdef--webkit-line-clamp
*/
@mixin lineClamp($lines: 2) {
  display: -webkit-box;
  overflow: hidden;
  word-break: break-all;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}
