@include baseComponentHost();

:host {
  display: inline-flex;
}

.container {
  display: flex;
  flex-direction: column;
  box-shadow: var(--calcite-app-shadow-2);
  animation: calcite-app-fade-in var(--calcite-app-animation-time-fast) var(--calcite-app-easing-function);
}

::slotted(calcite-action-group) {
  border-bottom: 1px solid var(--calcite-app-border);
  padding-bottom: 0;
  padding-top: 0;
}

::slotted(calcite-action-group:last-child) {
  border-bottom: none;
}
