.container {
  background-color: var(--calcite-app-background);
  display: flex;
  color: var(--calcite-app-foreground);
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: var(--calcite-app-cap-spacing-eighth) var(--calcite-app-side-spacing-quarter);
  position: absolute;
  z-index: 1;
  animation: calcite-app-fade-in var(--calcite-app-animation-time-fast) var(--calcite-app-easing-function);
}

:host([position-type="side"]) .container--leading {
  left: 100%;
}

:host([position-type="side"]) .container--leading.calcite--rtl {
  left: unset;
  right: 100%;
}

:host([position-type="side"]) .container--trailing {
  right: 100%;
}

:host([position-type="side"]) .container--trailing.calcite--rtl {
  right: unset;
  left: 100%;
}

:host([position-type="over"]) .container--leading {
  left: 50%;
  margin-left: -21px;
}

:host([position-type="over"]) .container--leading.calcite--rtl {
  left: unset;
  margin-left: unset;
  right: 50%;
  margin-right: -21px;
}

:host([position-type="over"]) .container--trailing {
  right: 50%;
  margin-right: -21px;
}

:host([position-type="over"]) .container--trailing.calcite--rtl {
  right: unset;
  margin-right: unset;
  left: 50%;
  margin-left: -21px;
}

:host([position-type="anchor"]) .container--leading {
  left: 50%;
  margin-left: -21px;
}

:host([position-type="anchor"]) .container--leading.calcite--rtl {
  left: unset;
  margin-left: unset;
  right: 50%;
  margin-right: -21px;
}

:host([position-type="anchor"]) .container--trailing {
  right: 50%;
  margin-right: -21px;
}

:host([position-type="anchor"]) .container--trailing.calcite--rtl {
  right: unset;
  margin-right: unset;
  left: 50%;
  margin-left: -21px;
}

::slotted(calcite-action-group) {
  border-bottom: 1px solid var(--calcite-app-border);
}

::slotted(calcite-action-group:last-child) {
  border-bottom: none;
}
