.container {
  background-color: var(--calcite-app-background);
  display: flex;
  color: var(--calcite-app-foreground);
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: var(--calcite-app-cap-spacing-eighth) var(--calcite-app-side-spacing-quarter);
  animation: calcite-app-fade-in var(--calcite-app-animation-time-fast) var(--calcite-app-easing-function);
}

::slotted(calcite-action-group) {
  border-bottom: 1px solid var(--calcite-app-border);
}

::slotted(calcite-action-group:last-child) {
  border-bottom: none;
}
