:host {
  @extend %component-host;
  background-color: var(--calcite-app-background);
  display: inline-flex;
  flex-direction: column;
  box-shadow: var(--calcite-app-shadow-2);
  max-width: 15vw;
  overflow-y: auto;
  animation: calcite-app-fade-in var(--calcite-app-animation-time-fast) var(--calcite-app-easing-function);
}

@import "../../assets/styles/component";

:host([expanded]) {
  max-width: 20vw;
}

::slotted(calcite-action-group) {
  border-bottom: 1px solid var(--calcite-app-border);
  padding-bottom: 0;
  padding-top: 0;
}

::slotted(calcite-action-group:last-child) {
  border-bottom: none;
}

.action-group--bottom {
  padding-bottom: 0;
  flex-grow: 1;
  justify-content: flex-end;
}
