body {
  margin: 0;
  background-color: #dfdfdf;

}
.example-container {
  padding: 0 24px 24px;
}
@media (min-width: 1025px) {
  .example-container {
    width: 900px;
    max-height: 80vh;
    margin: 12px auto;
    background-color: var(--calcite-app-background-content);
    border: 1px solid var(--calcite-app-foreground-hover);
    box-shadow: 4px 4px 2px var(--calcite-app-foreground-hover);
    resize: horizontal;
    overflow-x: scroll;
  }
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
}

/* Custom container for shell since it's rather large */
.shell-container {
  /* ipad size with browser */
  min-width: 1024px;
  min-height: 671px;
  margin: 0 auto;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2);
  position: relative;
}
