:host {
  background-color: var(--calcite-app-background-clear);
  display: block;
}

.heading {
  margin: var(--calcite-app-cap-spacing-half) 0;
}

.container {
  border-radius: var(--calcite-app-border-radius);
  overflow: hidden;
  @include borderShadow();
}
