%component-theme-light {
  --calcite-app-background: #{$white};
  --calcite-app-foreground: #{$darker-gray};

  --calcite-app-background-hover: #{$blk-010};
  --calcite-app-foreground-hover: #{$darkest-gray};

  --calcite-app-background-active: #{$lightest-blue};
  --calcite-app-foreground-active: #{$dark-blue};

  --calcite-app-foreground-subtle: #{$gray};
  --calcite-app-foreground-link: #{$blue};

  --calcite-app-background-content: #{$lightest-gray};
  --calcite-app-background-clear: transparent;

  --calcite-app-border: #{$lighter-gray};
  --calcite-app-border-hover: #{$light-gray};
  --calcite-app-border-subtle: #{$lightest-gray};
  --calcite-app-border-active: #{$blue};

  --calcite-app-disabled-opacity: 0.25;
  --calcite-app-scrim: #{rgba($white, 0.8)};
}
