:host {
  display: block;
}

.title {
  margin: 0;
}

.summary {
  font-size: var(--calcite-app-font-size--1);
  padding: 0 var(--calcite-app-side-spacing-half);
  color: var(--calcite-app-foreground);
}
